struct {{ d.name }} {
{% for e in d.nested_enums %}
    enum class {{ e.name }} : int {
{% for mname, mvalue in e.members %}
        {{ mname }} = {{ mvalue }},
{% endfor %}
    };

{% endfor %}
{% for cname, ctype, cvalue in d.constants %}
    static constexpr {{ ctype }} {{ cname }} = {{ cvalue }};
{% endfor %}
{% for ctype, fname in d.fields %}
    {{ ctype }} {{ fname }};
{% endfor %}
};
