template <>
struct Serializer<{{ s.qualified }}> {
    static void serialize(BinaryStream &stream, {{ s.param }})
    {
{% for line in s.serialize %}
{{ line }}
{% endfor %}
    }

    static auto deserialize(BinaryReader &stream) -> std::expected<{{ s.qualified }}, std::error_code>
    {
{% for line in s.deserialize %}
{{ line }}
{% endfor %}
    }
};
