{% if d.unmapped %}
struct {{ d.name }} {
};
{% else %}
struct {{ d.name }} {
{% for ename, emembers in d.nested_enums %}
    enum class {{ ename }} : int {
{% for mname, mvalue in emembers %}
        {{ mname }} = {{ mvalue }},
{% endfor %}
    };

{% endfor %}
{% for cname, ctype, cvalue in d.constants %}
    static constexpr {{ ctype }} {{ cname }} = {{ cvalue }};
{% endfor %}
{% for field in d.fields %}
    {{ field.ctype }} {{ field.name }};
{% endfor %}
};
{% endif %}
