#pragma once

#include <cstdint>
#include <string>
#include <variant>

{% if package %}
namespace {{ package | replace('.', '::') }} {

{% endif %}
{% for name, ctype in type_aliases %}
enum {{ name }} : {{ ctype }} {};
{% endfor %}
{% if type_aliases and has_classes %}

{% endif %}
{% for member in mod.members.values()
    if not member.is_alias and member.is_class %}
{% if not loop.first %}

{% endif %}
{% if "IntEnum" in (member.bases | map("string") | list) %}
{% set enum = member %}
{% include "enum.jinja" %}
{% else %}
{% set cls = member %}
{% include "class.jinja" %}
{% endif %}
{% endfor %}
{% if package %}

}  // namespace {{ package | replace('.', '::') }}
{% endif %}
