#pragma once

#include <cstdint>
#include <string>
#include <variant>
{% if serializers %}

#include <system_error>

#include <bedrock/expected.hpp>
#include <bedrock/stream.hpp>
{% endif %}

{% if package %}
namespace {{ package | replace('.', '::') }} {

{% endif %}
{% for name, ctype in type_aliases %}
enum {{ name }} : {{ ctype }} {};
{% endfor %}
{% if type_aliases and has_classes %}

{% endif %}
{% for member in mod.members.values()
    if not member.is_alias and member.is_class %}
{% if not loop.first %}

{% endif %}
{% if "IntEnum" in (member.bases | map("string") | list) %}
{% set enum = member %}
{% include "enum.jinja" %}
{% else %}
{% set cls = member %}
{% include "class.jinja" %}
{% endif %}
{% endfor %}
{% for enum_name, m in serializers %}

template <typename T>
struct Serializer;

template <int ProtocolVersion>
struct Serializer<{{ enum_name }}<ProtocolVersion>> {
    using Value = typename {{ enum_name }}<ProtocolVersion>::Value;
    using Result = std::expected<Value, std::error_code>;

    static void serialize(BinaryStream &stream, Value value)
    {
        stream.{{ m.write }}(static_cast<{{ m.underlying }}>(value));
    }

    static auto deserialize(ReadOnlyBinaryStream &stream) -> Result
    {
        auto v = stream.{{ m.read }}();
        if (!v) {
            return tl::unexpected{v.error()};
        }
        return static_cast<Value>(*v);
    }
};
{% endfor %}
{% if package %}

}  // namespace {{ package | replace('.', '::') }}
{% endif %}
