#pragma once

#include <cstdint>
#include <optional>
#include <string>
#include <variant>
{% if has_serializers %}

#include <system_error>

#include <bedrock/expected.hpp>
#include <bedrock/serializer.hpp>
#include <bedrock/stream.hpp>
{% endif %}
{% if dep_includes %}

{% for include in dep_includes %}
#include "{{ include }}"
{% endfor %}
{% endif %}

{% if package %}
namespace {{ package | replace('.', '::') }} {

{% endif %}
{% for name, ctype in type_aliases %}
enum {{ name }} : {{ ctype }} {};
{% endfor %}
{% if type_aliases and has_classes %}

{% endif %}
{% for member in mod.members.values()
    if not member.is_alias and member.is_class %}
{% if not loop.first %}

{% endif %}
{% if "IntEnum" in (member.bases | map("string") | list) %}
{% set enum = member %}
{% include "enum.jinja" %}
{% else %}
{% set cls = member %}
{% include "class.jinja" %}
{% endif %}
{% endfor %}
{% include "serializer.jinja" %}
{% set latest_aliases = [] %}
{% for member in mod.members.values()
    if not member.is_alias and member.is_class %}
{% if "IntEnum" in (member.bases | map("string") | list) %}
{% set _ = latest_aliases.append(member.name) %}
{% else %}
{% set f = member | class_fields %}
{% if f is not none and f.templated %}
{% set _ = latest_aliases.append(member.name) %}
{% endif %}
{% endif %}
{% endfor %}
{% if latest_aliases %}

{% for name in latest_aliases %}
using {{ name }} = {{ name }}_<{{ latest_version }}>;
{% endfor %}
{% endif %}
{% if package %}

}  // namespace {{ package | replace('.', '::') }}
{% endif %}
