{% set members = enum | enum_members %}
{% set csince = enum | class_since %}
{% if csince or members.gates %}
template <int ProtocolVersion>
struct {{ enum.name }};

template <int ProtocolVersion> requires ({% if csince %}ProtocolVersion >= {{ csince }}{% if members.gates %} && {% endif %}{% endif %}{% if members.gates %}ProtocolVersion < {{ members.gates[0][0] }}{% endif %})
struct {{ enum.name }}<ProtocolVersion> {
    enum {
{% for name, value in members.always %}
        {{ name | camelize }} = {{ value }},
{% endfor %}
    };
};
{% set ns = namespace(cumulative=members.always) %}
{% for since, group in members.gates %}
{% set ns.cumulative = ns.cumulative + group %}

template <int ProtocolVersion> requires (ProtocolVersion >= {{ since }}{% if not loop.last %} && ProtocolVersion < {{ members.gates[loop.index][0] }}{% endif %})
struct {{ enum.name }}<ProtocolVersion> {
    enum {
{% for name, value in ns.cumulative %}
        {{ name | camelize }} = {{ value }},
{% endfor %}
    };
};
{% endfor %}
{% else %}
template <int ProtocolVersion>
struct {{ enum.name }} {
    enum {
{% for name, value in members.always %}
        {{ name | camelize }} = {{ value }},
{% endfor %}
    };
};
{% endif %}
